$black: rgb(0,0,0);
$white: #fff;
$primary: rgb(57, 209, 247);
$grey: rgb(73, 73, 73);
$dark-grey: rgb(37,37,37);
$light-grey: rgb(187, 187, 187);
$danger: rgb(173, 40, 40);

$light-gradient: linear-gradient(#fff, rgb(185, 185, 185))


