@import "../components/container";
@import "../components/colors-panel";
@import "../components/config-panel";

.nav-bottom{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    padding: 20px 0;
    height: auto;
    margin: 0;
}