.diagonal{
    position: absolute;
    z-index: 10;
    top: 500px;
    left: -100px;
    /* background: linear-gradient(45deg, rgba(14, 252, 252, 0.568),rgba(124, 13, 158, 0.452)); */
    background: linear-gradient(180deg, rgba(102, 102, 102, 0.486),rgba(0, 0, 0, 0.452));
    right: -200px;
    bottom: -200px;
    color: $white;
    transform: rotate(-10deg);
}